*.apk
*.ap_
*.dex
*.class
*.log

bin/
gen/
out/
build/
proguard/
captures/

.gradle/
.navigation/
.name/

local.properties
google-services.json
.externalNativeBuild

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/runConfigurations.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
